<!DOCTYPE html>
<html lang="en">
<head >

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	<style>
        /* 导航栏固定在顶部 */
		header {
            position: fixed;
            top: 0;
            width: 100%; /* 使导航栏占据整个宽度 */
            background-color: #fff; /* 设置背景颜色，根据你的设计进行调整 */
            /* 其他样式属性... */
        }
    </style>

</head>

<body>

{{ partial "nav.html" . }}

<main class="content">
